@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif */
body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero {
  background: url("../public/images/lagos3.jpg") center/cover no-repeat;
}
.hero-container {
  background: rgba(0, 0, 0, 0.19);
}
.nav-link:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.nav-active {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}


.enquiry-input{
  border: 1px solid grey;
  border-radius: 5px;
  width: 500px;
  height: 36px;
  color: black;
}
.enquiry-input:focus{
outline: none;
}
.enquiry-textarea:focus{
outline: none;
}
.enquiry-textarea{
  border: 1px solid black
}
.enquiry-textarea::placeholder{
  padding: 5px;
  padding-left: 10px;
}

.signin-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  justify-content: center;
  align-items: center;
  
}